@{
    ViewData["Title"] = "Paylasimlar";
}

﻿@{
    ViewData["Title"] = "Paylaşımlar";
}


<div id="shopify-section-template--15553210220595__main" class="shopify-section">
    <!-- Blog Area Start -->
    <div class="blog-area" id="section-template--15553210220595__main">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <!-- Section Title Start -->
                    <div class="section-title text-center pb-50">
                        <h3 class="section-info">ALL LATEST BLOGS</h3>
                    </div>
                    <!-- Section Title End -->
                </div>


                <div class="col-md-3 ">
                    <div class="main-right-sidebar">


                        <div class="categorie recent-post same-sidebar sidebar-widget mb-40 border-default universal-padding widget-collapse">
                            <div class="group-title">
                                <h2>Search</h2>
                            </div><div class=" widget-collapse-hide">
                                <div class="sidebar-search">
                                    <form action="/search" method="get" role="search">
                                        <input type="hidden" name="type" value="product">
                                        <input type="search" name="q" value="" placeholder="Search our store" aria-label="Search our store">
                                        <button type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>




                        <!-- Single Sidebar Start  -->
                        <div class="categorie recent-post same-sidebar category-sub-menu sidebar-widget mb-40 border-default universal-padding widget-collapse">
                            <div class="group-title">
                                <h2>Custom Menu</h2>
                            </div><div class=" widget-collapse-hide">
                                <ul class="sidebar-list">




                                    <li class="has-sub ">
                                        <a asp-controller="home" asp-action="index">Home</a>
                                        <ul>

                                            <li><a href="https://bigon-5.myshopify.com/?preview_theme_id=127742279731">Home Version 1</a></li>

                                            <li><a href="https://bigon-5.myshopify.com/?preview_theme_id=127921520691">Home Version 2</a></li>

                                            <li><a href="https://bigon-5.myshopify.com/?preview_theme_id=127922962483">Home Version 3</a></li>

                                            <li><a href="https://bigon-5.myshopify.com/?preview_theme_id=127960678451">Home Version 4</a></li>

                                            <li><a href="https://bigon-5.myshopify.com/?preview_theme_id=127960973363">Home Version 5</a></li>

                                            <li><a href="https://bigon-5.myshopify.com/?preview_theme_id=127976865843">Home Version 6</a></li>

                                            <li><a href="https://bigon-5.myshopify.com/?preview_theme_id=127976964147">Home Version  RTL</a></li>

                                        </ul>
                                    </li>




                                    <li class=""><a href="/pages/about">about us</a></li>




                                    <li class=""><a href="/pages/contact">contact us</a></li>




                                    <li class="has-sub active">
                                        <a asp-controller="blog" asp-action="index">blog</a>
                                        <ul>

                                            <li><a href="https://bigon-5.myshopify.com/blogs/news/temporibus-autem-quibusdam-3">blog details</a></li>

                                        </ul>
                                    </li>




                                    <li class="has-sub ">
                                        <a href="/collections/all">shop</a>
                                        <ul>

                                            <li><a href="/collections/all">laptops</a></li>

                                            <li><a href="/collections/all">monitors</a></li>

                                            <li><a href="/collections/laptops">image</a></li>

                                        </ul>
                                    </li>




                                    <li class="has-sub ">
                                        <a href="/products/aliquam-consequat-mattis">Products</a>
                                        <ul>

                                            <li><a href="/products/cras-neque-metus">Simple Product</a></li>

                                            <li><a href="/products/accusantium-doloremque">Variable Product</a></li>

                                            <li><a href="/products/affiliate-link-product">Affiliate Link product </a></li>

                                            <li><a href="/products/preorder-product">Product Preorder</a></li>

                                        </ul>
                                    </li>


                                </ul>
                            </div>
                        </div>
                        <!-- Single Sidebar End  -->




                        <div class="recent-post same-sidebar sidebar-widget mb-40 border-default universal-padding widget-collapse">

                            <div class="group-title">
                                <h2>Recent Post</h2>
                            </div>

                            <div class=" widget-collapse-hide">
                                <ul>


                                    <!-- Singel Post Thumb Start -->
                                    <li class="post-thumb fix">
                                        <div class="left-post-thumb f-left mr-20">
                                            <a href="/blogs/news/temporibus-autem-quibusdam-3"><img class="img" src="//bigon-5.myshopify.com/cdn/shop/articles/12_50X50_crop_center.jpg?v=1523771328" alt=""></a>
                                        </div>
                                        <div class="right-post-thumb fix">
                                            <h4><a href="/blogs/news/temporibus-autem-quibusdam-3">Temporibus autem quibusdam</a></h4>
                                            <span>Apr 15, 2018</span>
                                        </div>
                                    </li>
                                    <!-- Singel Post Thumb End -->
                                    <!-- Singel Post Thumb Start -->
                                    <li class="post-thumb fix">
                                        <div class="left-post-thumb f-left mr-20">
                                            <a href="/blogs/news/temporibus-autem-quibusdam-2"><img class="img" src="//bigon-5.myshopify.com/cdn/shop/articles/9_50X50_crop_center.jpg?v=1523771309" alt=""></a>
                                        </div>
                                        <div class="right-post-thumb fix">
                                            <h4><a href="/blogs/news/temporibus-autem-quibusdam-2">Temporibus autem quibusdam</a></h4>
                                            <span>Apr 15, 2018</span>
                                        </div>
                                    </li>
                                    <!-- Singel Post Thumb End -->
                                    <!-- Singel Post Thumb Start -->
                                    <li class="post-thumb fix">
                                        <div class="left-post-thumb f-left mr-20">
                                            <a href="/blogs/news/temporibus-autem-quibusdam-1"><img class="img" src="//bigon-5.myshopify.com/cdn/shop/articles/6_50X50_crop_center.jpg?v=1523771291" alt=""></a>
                                        </div>
                                        <div class="right-post-thumb fix">
                                            <h4><a href="/blogs/news/temporibus-autem-quibusdam-1">Temporibus autem quibusdam</a></h4>
                                            <span>Apr 15, 2018</span>
                                        </div>
                                    </li>
                                    <!-- Singel Post Thumb End -->

                                </ul>
                            </div>
                        </div>
                        <!-- Recent Post End -->
                        <!-- Category Post Start -->
                        <div class="categorie recent-post same-sidebar sidebar-widget mb-40 border-default universal-padding widget-collapse">

                            <div class="group-title">
                                <h2>Archive</h2>
                            </div><div class=" widget-collapse-hide">








                                <dl>
                                    <dt>







                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>



                                <dl>
                                    <dt>







                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>



                                <dl>
                                    <dt>







                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>



                                <dl>
                                    <dt>







                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>



                                <dl>
                                    <dt>







                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>










                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>









                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>









                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>









                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>









                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>









                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>









                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>






                                        April 2018



                                    </dt>
                                    <dd>
                                        <ul class="blog_links">



                                            <li>&raquo; <a href="/blogs/news/temporibus-autem-quibusdam-3">Temporibus autem quibusdam</a></li>




                                            <li>&raquo; <a href="/blogs/news/temporibus-autem-quibusdam-2">Temporibus autem quibusdam</a></li>




                                            <li>&raquo; <a href="/blogs/news/temporibus-autem-quibusdam-1">Temporibus autem quibusdam</a></li>




                                            <li>&raquo; <a href="/blogs/news/the-standard-chunk-of-lorem-ipsum-used-since-3">The Standard Chunk Of Lorem...</a></li>




                                            <li>&raquo; <a href="/blogs/news/the-standard-chunk-of-lorem-ipsum-used-since-2">The Standard Chunk Of Lorem...</a></li>




                                            <li>&raquo; <a href="/blogs/news/the-standard-chunk-of-lorem-ipsum-used-since-1">The Standard Chunk Of Lorem...</a></li>




                                            <li>&raquo; <a href="/blogs/news/it-is-a-long-established-fact-that-a-reader-will-3">It is a long established fa...</a></li>




                                            <li>&raquo; <a href="/blogs/news/it-is-a-long-established-fact-that-a-reader-will-2">It is a long established fa...</a></li>




                                            <li>&raquo; <a href="/blogs/news/it-is-a-long-established-fact-that-a-reader-will-1">It is a long established fa...</a></li>




                                            <li>&raquo; <a href="/blogs/news/temporibus-autem-quibusdam">Temporibus autem quibusdam</a></li>




                                            <li>&raquo; <a href="/blogs/news/the-standard-chunk-of-lorem-ipsum-used-since">The Standard Chunk Of Lorem...</a></li>




                                            <li>&raquo; <a href="/blogs/news/it-is-a-long-established-fact-that-a-reader-will">It is a long established fa...</a></li>


                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>









                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>









                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>









                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>









                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>









                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>









                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>









                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>









                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>




                                <dl>
                                    <dt>










                                    </dt>
                                    <dd>
                                        <ul class="blog_links">
                                        </ul>
                                    </dd>
                                </dl>





                            </div>
                        </div>





                        <!-- Meta Post Start -->
                        <div class="categorie recent-post same-sidebar sidebar-widget mb-40 border-default universal-padding widget-collapse">

                            <div class="group-title">
                                <h2>Tags</h2>
                            </div>

                            <div class=" widget-collapse-hide">
                                <ul class="tag-list">


                                    <li><a href="/blogs/news/tagged/bestselling" class="">bestselling</a></li>

                                    <li><a href="/blogs/news/tagged/chair" class="">chair</a></li>

                                    <li><a href="/blogs/news/tagged/collection" class="">collection</a></li>

                                    <li><a href="/blogs/news/tagged/door" class="">door</a></li>

                                    <li><a href="/blogs/news/tagged/dress" class="">dress</a></li>

                                </ul>
                            </div>
                        </div>
                        <!-- Meta Post End -->







                    </div>


                    <script>

                        /* Slidebar collapse */
                        $('.widget-collapse .group-title').on("click", function(){
                          $(this).siblings('.widget-collapse-hide').slideToggle();
                          $(this).toggleClass('widget-collapse-show');
                        });

                        $('.category-sub-menu li.has-sub > a').on('click', function () {
                          $(this).removeAttr('href');
                          var element = $(this).parent('li');
                          if (element.hasClass('open')) {
                            element.removeClass('open');
                            element.find('li').removeClass('open');
                            element.find('ul').slideUp();
                          } else {
                            element.addClass('open');
                            element.children('ul').slideDown();
                            element.siblings('li').children('ul').slideUp();
                            element.siblings('li').removeClass('open');
                            element.siblings('li').find('li').removeClass('open');
                            element.siblings('li').find('ul').slideUp();
                          }
                        });
                    </script>
                </div>

                <div class="col-md-9 ">


                    <!-- Row End -->
                    <div class="row">

                        <div class="col-md-6 col-sm-6">
                            <!-- Single Blog Start -->
                            <div class="single-blog item">
                                <div class="blog-img">
                                    <a href="/blogs/news/temporibus-autem-quibusdam-3"><img src="//bigon-5.myshopify.com/cdn/shop/articles/12.jpg?v=1523771328" alt="blog-image"></a>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-content-upper">
                                        <h6 class="blog-title"><a href="/blogs/news/temporibus-autem-quibusdam-3">Temporibus autem quibusdam</a></h6>

                                        <!-- Decs -->
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...

                                    </div>
                                    <div class="blog-content-lower">
                                        <a href="/blogs/news/temporibus-autem-quibusdam-3">Read more</a>
                                        <span class="f-right"> 15/Apr/ 18</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Blog End -->
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <!-- Single Blog Start -->
                            <div class="single-blog item">
                                <div class="blog-img">
                                    <a href="/blogs/news/temporibus-autem-quibusdam-2"><img src="//bigon-5.myshopify.com/cdn/shop/articles/9.jpg?v=1523771309" alt="blog-image"></a>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-content-upper">
                                        <h6 class="blog-title"><a href="/blogs/news/temporibus-autem-quibusdam-2">Temporibus autem quibusdam</a></h6>

                                        <!-- Decs -->
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...

                                    </div>
                                    <div class="blog-content-lower">
                                        <a href="/blogs/news/temporibus-autem-quibusdam-2">Read more</a>
                                        <span class="f-right"> 15/Apr/ 18</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Blog End -->
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <!-- Single Blog Start -->
                            <div class="single-blog item">
                                <div class="blog-img">
                                    <a href="/blogs/news/temporibus-autem-quibusdam-1"><img src="//bigon-5.myshopify.com/cdn/shop/articles/6.jpg?v=1523771291" alt="blog-image"></a>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-content-upper">
                                        <h6 class="blog-title"><a href="/blogs/news/temporibus-autem-quibusdam-1">Temporibus autem quibusdam</a></h6>

                                        <!-- Decs -->
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...

                                    </div>
                                    <div class="blog-content-lower">
                                        <a href="/blogs/news/temporibus-autem-quibusdam-1">Read more</a>
                                        <span class="f-right"> 15/Apr/ 18</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Blog End -->
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <!-- Single Blog Start -->
                            <div class="single-blog item">
                                <div class="blog-img">
                                    <a href="/blogs/news/the-standard-chunk-of-lorem-ipsum-used-since-3"><img src="//bigon-5.myshopify.com/cdn/shop/articles/11.jpg?v=1523771320" alt="blog-image"></a>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-content-upper">
                                        <h6 class="blog-title"><a href="/blogs/news/the-standard-chunk-of-lorem-ipsum-used-since-3">The Standard Chunk Of Lorem Ipsum Used Since</a></h6>

                                        <!-- Decs -->
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old....

                                    </div>
                                    <div class="blog-content-lower">
                                        <a href="/blogs/news/the-standard-chunk-of-lorem-ipsum-used-since-3">Read more</a>
                                        <span class="f-right"> 15/Apr/ 18</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Blog End -->
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <!-- Single Blog Start -->
                            <div class="single-blog item">
                                <div class="blog-img">
                                    <a href="/blogs/news/the-standard-chunk-of-lorem-ipsum-used-since-2"><img src="//bigon-5.myshopify.com/cdn/shop/articles/7_54ab01a3-6288-44aa-95de-3b219f996165.jpg?v=1523773815" alt="blog-image"></a>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-content-upper">
                                        <h6 class="blog-title"><a href="/blogs/news/the-standard-chunk-of-lorem-ipsum-used-since-2">The Standard Chunk Of Lorem Ipsum Used Since</a></h6>

                                        <!-- Decs -->
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old....

                                    </div>
                                    <div class="blog-content-lower">
                                        <a href="/blogs/news/the-standard-chunk-of-lorem-ipsum-used-since-2">Read more</a>
                                        <span class="f-right"> 15/Apr/ 18</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Blog End -->
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <!-- Single Blog Start -->
                            <div class="single-blog item">
                                <div class="blog-img">
                                    <a href="/blogs/news/the-standard-chunk-of-lorem-ipsum-used-since-1"><img src="//bigon-5.myshopify.com/cdn/shop/articles/5.jpg?v=1523771286" alt="blog-image"></a>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-content-upper">
                                        <h6 class="blog-title"><a href="/blogs/news/the-standard-chunk-of-lorem-ipsum-used-since-1">The Standard Chunk Of Lorem Ipsum Used Since</a></h6>

                                        <!-- Decs -->
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old....

                                    </div>
                                    <div class="blog-content-lower">
                                        <a href="/blogs/news/the-standard-chunk-of-lorem-ipsum-used-since-1">Read more</a>
                                        <span class="f-right"> 15/Apr/ 18</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Blog End -->
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <!-- Single Blog Start -->
                            <div class="single-blog item">
                                <div class="blog-img">
                                    <a href="/blogs/news/it-is-a-long-established-fact-that-a-reader-will-3"><img src="//bigon-5.myshopify.com/cdn/shop/articles/10.jpg?v=1523771315" alt="blog-image"></a>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-content-upper">
                                        <h6 class="blog-title"><a href="/blogs/news/it-is-a-long-established-fact-that-a-reader-will-3">It is a long established fact that a reader will</a></h6>

                                        <!-- Decs -->
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore d aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...

                                    </div>
                                    <div class="blog-content-lower">
                                        <a href="/blogs/news/it-is-a-long-established-fact-that-a-reader-will-3">Read more</a>
                                        <span class="f-right"> 15/Apr/ 18</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Blog End -->
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <!-- Single Blog Start -->
                            <div class="single-blog item">
                                <div class="blog-img">
                                    <a href="/blogs/news/it-is-a-long-established-fact-that-a-reader-will-2"><img src="//bigon-5.myshopify.com/cdn/shop/articles/7.jpg?v=1523771298" alt="blog-image"></a>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-content-upper">
                                        <h6 class="blog-title"><a href="/blogs/news/it-is-a-long-established-fact-that-a-reader-will-2">It is a long established fact that a reader will</a></h6>

                                        <!-- Decs -->
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore d aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...

                                    </div>
                                    <div class="blog-content-lower">
                                        <a href="/blogs/news/it-is-a-long-established-fact-that-a-reader-will-2">Read more</a>
                                        <span class="f-right"> 15/Apr/ 18</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Blog End -->
                        </div>

                    </div>
                    <!-- Row End -->

                    <div class="breadcrubm-page-show border-default universal-padding mt-30 fix">
                        <div class="breadcrumb-list-item">

                            <div class="shop-pagination text-center breadcrumb-list-item ">
                                <nav class="pagination">
                                    <ul class="list-inline">
                                        <li>

                                        <li class="disabled prev">
                                            <a href="">
                                                <span><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                                            </a>
                                        </li>




                                        <li class="active"><a href="">1</a></li>




                                        <li>
                                            <a href="/blogs/news?page=2" title="">2</a>
                                        </li>



                                        <li class="next"><a href="/blogs/news?page=2" title="Next &raquo;"><span aria-hidden="true"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a></li>

                                    </ul>
                                </nav>
                            </div>


                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- Container End -->
    </div>
    <!-- Blog Area End --><style data-shopify>
                              #section-template--15553210220595__main {
                                  padding-top: 0px;
                                  padding-bottom: 50px;
                              }

                              @@media (min-width: 768px) and (max-width: 991px) {
                                  #section-template--15553210220595__main {
                                      padding-top: 0px;
                                      padding-bottom: 50px;
                                  }
                              }

                              @@media (max-width: 767px) {
                                  #section-template--15553210220595__main {
                                      padding-top: 0px;
                                      padding-bottom: 50px;
                                  }
                              }</style><style>

                                           #section-template--15553210220595__main .section-title h3 {
                                               color: #363f4d;
                                           }
    </style>












</div>




@section breadcrumbs {
    <div class="breadcrumbs-section ptb-50">
        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="breadcrumbs-inner">

                            <nav class="" role="navigation" aria-label="breadcrumbs">
                                <ul class="breadcrumb-list">
                                    <li>
                                        <a asp-controller="home" asp-action="index" title="Back to the home page">Home</a>
                                    </li>
                                    <li>


                                        <span>News</span>



                                    </li>
                                </ul>
                            </nav>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BREADCRUMBS SETCTION END -->

    <style>

        .breadcrumbs-section .breadcrumbs-inner {
            background-color: #f5f5f5;
        }

    </style>
  }