<nav>
    <ul class="middle-menu-list">



        <li>
            <a asp-controller="home" asp-action="index">Home</a>
            <ul class="ht-dropdown home-dropdown">



                <li><a href="https://bigon-5.myshopify.com/?preview_theme_id=127742279731">Home Version 1</a></li>




                <li><a href="https://bigon-5.myshopify.com/?preview_theme_id=127921520691">Home Version 2</a></li>




                <li><a href="https://bigon-5.myshopify.com/?preview_theme_id=127922962483">Home Version 3</a></li>




                <li><a href="https://bigon-5.myshopify.com/?preview_theme_id=127960678451">Home Version 4</a></li>




                <li><a href="https://bigon-5.myshopify.com/?preview_theme_id=127960973363">Home Version 5</a></li>




                <li><a href="https://bigon-5.myshopify.com/?preview_theme_id=127976865843">Home Version 6</a></li>




                <li><a href="https://bigon-5.myshopify.com/?preview_theme_id=127976964147">Home Version  RTL</a></li>


            </ul>
        </li>




        <li><a asp-controller="home" asp-action="about">about us</a></li>




        <li><a asp-controller="home" asp-action="contact">contact us</a></li>




        <li>
            <a asp-controller="blog" asp-action="index">blog</a>
            <ul class="ht-dropdown home-dropdown">



                <li><a href="https://bigon-5.myshopify.com/blogs/news/temporibus-autem-quibusdam-3">blog details</a></li>


            </ul>
        </li>




        <li>
            <a asp-controller="shop" asp-action="index">shop></a>

            <ul class="ht-dropdown home-dropdown">



                <li class="megamenu-three-column fix">
                    <a href="/collections/all">laptops</a>
                    <ul>
                        <li>
                            <ul>

                                <li><a href="/collections/all">Best Laptops Price</a></li>

                                <li><a href="/collections/all">New Laptops Price</a></li>

                                <li><a href="/collections/all">Middle Laptops Price</a></li>

                                <li><a href="/collections/all">Gaming Laptops Price</a></li>

                                <li><a href="/collections/all">camera one</a></li>

                                <li><a href="/collections/all">camrea two</a></li>

                                <li><a href="/collections/all">camera theree</a></li>

                            </ul>
                        </li>
                    </ul>
                </li>




                <li class="megamenu-three-column fix">
                    <a href="/collections/all">monitors</a>
                    <ul>
                        <li>
                            <ul>

                                <li><a href="/collections/all">Hd monitors</a></li>

                                <li><a href="/collections/all">new monitors</a></li>

                                <li><a href="/collections/all">dual monitors</a></li>

                                <li><a href="/collections/all">qhd monitors</a></li>

                                <li><a href="/collections/all">motion phone x</a></li>

                                <li><a href="/collections/all">motion phone two</a></li>

                                <li><a href="/collections/all">motion phone new</a></li>

                            </ul>
                        </li>
                    </ul>
                </li>




                <li class="menu-img">
                    <a href="/collections/laptops"><img src="//bigon-5.myshopify.com/cdn/shop/collections/14_large.jpg?v=1523774285"></a>
                </li>


            </ul>
        </li>




        <li>
            <a href="/products/aliquam-consequat-mattis">Products<i class="fa fa-angle-down"></i></a>
            <ul class="ht-dropdown home-dropdown">



                <li><a href="/products/cras-neque-metus">Simple Product</a></li>




                <li><a href="/products/accusantium-doloremque">Variable Product</a></li>




                <li><a href="/products/affiliate-link-product">Affiliate Link product </a></li>




                <li><a href="/products/preorder-product">Product Preorder</a></li>


            </ul>
        </li>


    </ul>
</nav>